div#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* Style the header */
div.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Container for flexboxes */
div.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
div.column {
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Left and right column */
div.column.side {
  -webkit-flex: 0.75;
  -ms-flex: 0.75;
  flex: 0.75;
  background-color: #bbb;
}

/* Middle column */
div.column.middle {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #ccc;
}

/* Style the footer */
div.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}